<table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tbody>
    <tr>
      <td width="100%">
        <div style="max-width:600px;Margin:0 auto">
          <table
            align="center"
            cellpadding="0"
            cellspacing="0"
            style="border-spacing:0;font-family:gt-eesti,ArialMT,Helvetica,Arial,sans-serif;Margin:0 auto;padding:24px;width:100%;max-width:500px"
          >
            <tbody>
              <%- include('./partials/emailHeader.ejs')%>
              <%- include('./partials/emailContent.ejs')%>
              <%- include('./partials/emailFooter.ejs')%>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>