<tr>
  <td>
    <table style="margin-bottom:40px;width:100%" width="100%">
      <tbody>
        <tr>
          <td>
            <a
              href="https://inoxoft.com"
              style="font-family:Helvetica,Arial,sans-serif;color:#0086bf"
              target="_blank"
            >
              <img
                src="<%= headerLogo %>"
                style="display:block"
                alt="Logo"
                width="600"
                height="200"
              />
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>